<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.DeleteExerciserMapper">
   <cache />

<delete id="deleteExerciser" parameterType="int">
		DELETE FROM Exerciser
		WHERE exerciserId = #{deleteId}
</delete>

<delete id="deleteAttendance" parameterType="int">
		DELETE FROM Attendance
		WHERE exerciserId = #{deleteId}
</delete>

<delete id="deleteFitmate" parameterType="int">
		DELETE FROM Fitmate
		WHERE exerciser1 = #{deleteId} OR exerciser2 = #{deleteId}
</delete>

<delete id="deleteInbody" parameterType="int">
		DELETE FROM Inbody
		WHERE exerciserId = #{deleteId}
</delete>

<delete id="deleteMatchingStatus" parameterType="int">
		DELETE FROM matchingStatus
		WHERE senderId = #{deleteId} OR receiverId = #{deleteId}
</delete>

<delete id="deleteMessage" parameterType="int">
		DELETE FROM Message
		WHERE senderId = #{deleteId} OR receiverId = #{deleteId}
</delete>

<delete id="deleteRecommendList" parameterType="int">
		DELETE FROM RecommendList
		WHERE exerciserId = #{deleteId} OR recommId1 = #{deleteId} OR recommId2 = #{deleteId} OR recommId3 = #{deleteId}
</delete>

<delete id="deleteRecord" parameterType="int">
		DELETE FROM RecommendList
		WHERE exerciserId = #{deleteId}
</delete>

<delete id="deleteToExercise" parameterType="int">
		DELETE FROM ToExercise
		WHERE exerciserId = #{deleteId}
</delete>

</mapper>