<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.RecordMapper">
	<cache />
	
	<insert id="insertRecord" parameterType="int">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT RECORDIDSEQ.nextval AS id FROM DUAL
		</selectKey>
				
		INSERT INTO Community (recordid, title, creationdate, totaltime, category, routine, diet, photo, shareoption, exerciserid)
		VALUES (RECORDIDSEQ.nextval, #{title}, #{creationDate}, #{totalTime},#{category},#{routine},#{diet},#{photo},#{shareOption},#{exerciserId})
	</insert>
	
</mapper>