<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.ToExerciseMapper">
   <cache />
   
   <insert id="addToExercise">            
  	INSERT INTO ToExercise(exerciserId, creationDate, content, checked, itemID)
  	VALUES (#{exerciserId}, SYSDATE, #{content}, 'F', itemseq.nextval)
   </insert>
   
   <update id="checkToExercise">
   UPDATE ToExercise
   SET checked = 'F'
   WHERE exerciserId = #{exerciserId} AND itemId = #{itemId}
   </update>
   
   <update id="unCheckToExercise">
   UPDATE ToExercise
   SET checked = 'T'
   WHERE exerciserId = #{exerciserId} AND itemId = #{itemId}     
   </update>
   
   <delete id="deleteToExercise">
   DELETE FROM ToExercise
   WHERE exerciserId = #{exerciserID} AND itemId = #{itemId}
   </delete>

   <select id="findToExercise" parameterType="int" resultType="ToExercise">
SELECT itemId, creationDate, content, checked, exerciserId
FROM ToExercise
WHERE exerciserId = #{exerciserId}
   </select>
</mapper>
